{% extends 'base.html.twig' %}

{% block title %}Hello PinController!
{% endblock %}

{% block body %}
	<div class="container">
		<ul>
			{% for pin in allPins %}
				<li>{{ pin.title }}</li>
				<li>{{ pin.description }}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
